/* Select Entry CSS */

.entry_image {
    max-width: 200px!important;
}

.safex_blue {
    background-color: rgb(9, 51, 111);
}

.white-text {
    color: #fff!important;
}

.black-text {
    color: #000!important;
}

.font_size_medium {
    font-size: 2vmax!important;
}

.font-size-small {
    font-size: 1.25rem!important;
}

.remove_container_padding {
    padding-left: -15px!important;
    padding-right: -15px!important;
}

.oflow-y-scroll {
    overflow-y: scroll;
}

.height100v {
    height: 100vh;
}

.height100 {
    height: 100%;
}

.height80 {
    height: 80%!important;
}

.max-h500px {
    max-height: 500px;
}

.width100 {
    width: 100%;
}

.auto_margin_50 {
    width: 50%;
    margin: auto;
}

.light-blue-back {
    background-color: rgb(24, 190, 231);
}

.grey-back {
    background-color: grey;
}

.b-r25 {
    border-radius: 25px;

}

.b-r10 {
    border-radius: 10px;

}

.b-white-5 {
    border: 5px!important;
    border-color: #fff!important;
}

.w50 {
    width: 50%!important;
}

/* Select Entry CSS End */

/* Header CSS Start */

.menu {
    height: fit-content;
    flex-direction: column;
}

.menu-logo {
    max-width: fit-content!important;
  
}

/* Market CSS Start */

.search-box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table {
    color: white!important;
    overflow-y: scroll!important;
    max-height: 500px!important;
}

/* Market CSS End */