/* Select Entry CSS */

.safex-background {
    background-image:url(./../images/wall3.jpg);
    background-position: bottom right;
    background-size: contain;
    
}

.entry-form {
    height: 80vh;
    width: 80%;
    margin: auto;
    padding: 2rem;

    border-radius: 25px;
    background-color: grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    font-size: 1.25rem

}

.entry-form button {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.entry-image {
    max-width: 200px!important;
}



/* Select Entry CSS End */





