/* Select Entry CSS */

.entry-form {
    height: 80vh;
    width: 80%;
    margin: auto;
    padding: 2rem;

    border-radius: 25px;
    background-color: grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    font-size: 1.25rem

}

.entry-form button {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.entry-image {
    max-width: 200px!important;
}

.safex-blue {
    background-color: rgb(9, 51, 111);
}

.white-text {
    color: #fff!important;
}

.black-text {
    color: #000!important;
}

.font_size_medium {
    font-size: 2vmax!important;
}

.font-size-small {
    font-size: 1.25rem!important;
}

.remove_container_padding {
    padding-left: -15px!important;
    padding-right: -15px!important;
}

.oflow-y-scroll {
    overflow-y: scroll;
}

.height100v {
    height: 100vh;
}

.height100 {
    height: 100%;
}

.height-fit-content {
    height: fit-content;
}

.height80 {
    height: 80%!important;
}

.max-h500px {
    max-height: 500px;
}

.width100 {
    width: 100%;
}

.width-fit-content {
    width: fit-content;
}

.auto_margin_50 {
    width: 50%;
    margin: auto;
}

.light-blue-back {
    background-color: rgb(24, 190, 231);
}

.opaque-black {
    background-color: darkorange;
}

.safex-cash-green {
    background-color: rgb(38, 232, 185)!important;
}

.grey-back {
    background-color: grey;
}

.b-r25 {
    border-radius: 25px;

}

.b-r10 {
    border-radius: 10px;

}

.b-white-5 {
    border: 5px!important;
    border-color: #fff!important;
}

.w50 {
    width: 50%!important;
}

/* Select Entry CSS End */

/* Header CSS Start */

.menu {
    height: fit-content;
    flex-direction: column;
}

.menu-logo {
    max-width: fit-content!important;
  
}

/* Market CSS Start */

.search-box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table {
    color: white!important;
    overflow-y: scroll!important;
    max-height: 500px!important;
}

/* Market CSS End */

/* Merchant CSS Start */

.account-element {
    width: 100%;
    height: 15vh;
    max-width: 500px;
    min-width: 200px;
    max-height: 150px;
    min-height: 75px;
    align-items: center;

    margin: .5rem;
    padding: .5rem;

    border-width: 4px!important;

}

.new-account-form {
    color:  black;
    font-size: 1.25rem!important;
}

.new-account-form textarea {
    max-height: 100px;
}

#new-account-form text {
    margin-top: .5rem;
    margin-bottom: .5rem;
    
}

#new-account-form button {
    font-size: 1.25rem!important;
}

.text-align-center {
    text-align: center!important;
}

/* Merchant CSS End */
