.wallet {
    padding: 10px;
    background-color: #38bdd2;
    border: 6px solid #fff;
    color: #fff;
    width: 100%;
    min-height: 120px;
}

.wallet ul {
    list-style-type: none;
    padding: 0;
}