.wallet {
    padding: 3px;
    background-color: #38bdd2;
    border: 2px solid #fff;
    color: #fff;
    width: 100%;
    min-height: 140px;
    margin: 0 -10px;
    max-height: 500px;
}

.merchant_product_view {
    padding: 3px;
    background-color: #38bdd2;
    border: 2px solid #fff;
    color: #fff;
    width: 100%;
    min-height: 140px;
    margin: 0 -10px;
    max-height: 1000px;
}

.merchant_profile_view {
    padding: 3px;
    background-color: #38bdd2;
    border: 2px solid #fff;
    color: #fff;
    width: 100%;
    min-height: 140px;
    margin: 0 -10px;
    max-height: 800px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.account_list {
    list-style-type: none;
    height: 200px;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.account_element {
    margin: 4px;
    border: 2px solid #ffffff;
}

.selected_account_element {
    margin: 4px;
    border: 2px solid #5cb85c;
}



table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}


