/* Header CSS Start */

 /* Tooltip container */
 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 

    #balances div {
        width: min-content!important;
    }


    #header #balances {
        font-size: 1.3rem;
    }

    #header .blockchain-icon {
        width: 20px;
        color: turquoise;
    }

    #header modal {
        font-size: 1.5rem;
        width: 75%;
    }

    #header #header-buttons {
        padding: .3rem;
        justify-content: space-around;
        width: 30vw;
        min-width: 300px;
        border-radius: 10px;
        justify-content: space-around;

    }

    .menu {
        height: fit-content;
        flex-direction: column;
    }

    .menu-logo {
        max-width: fit-content!important;
    
    }

/* Home CSS Start */

    .ReactModal__Overlay {
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    .ReactModal__Overlay--after-open{
        opacity: 1;
    }

    .ReactModal__Overlay--before-close{
        opacity: 0;
    }

    .wallet {
        padding: 1rem 1rem 4rem;
        background-color: rgba(24, 189, 231, 0.5);
        border: 2px solid #fff;
        color: #fff;
        width: 100%;
        height: fit-content;
        min-height: 140px;
        max-height: 800px;
        
    }

    .cash-box {
        width: 20%;
        min-width: 15vw;
        max-width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: rgba(38, 232, 185, 0.5);
        color: white;
        min-height: 25vh;
        margin: auto 0;
        
    }
    
    .cash-box ul {
        margin-bottom: 0px;
    }

    .cash-box li {
        text-align: center!important;
    }

    #wallet-balance {
        font-size: 1.8rem;
        font-weight: bolder;
    }

    .cash-box input {
        margin: 1rem 0;

    }


    .carousel-inner {
        border-radius: 10px;
    }

    .carousel-caption {
        background-color: rgba(0, 13, 255, 0.57);
        border-radius: 25px;
    }


/* Home CSS End */


/* Market CSS Start */

    

    .search-box {
        padding: 1rem;
        background: white;
        border-radius: 50px 50px 0 0;
        box-shadow: var(--blue-box-shadow);
    }
    
    .search-box form {
        flex-direction: row;
    }

    .search-button {
        height: 3rem;
        margin-left: 1rem;
        background: linear-gradient(90deg, #13D3FD 0%, #3698F3 100%);
        border-radius: 10px;
        color: #fff;
        border: 3px solid #13D3FD!important;
        font-family: 'Inter';
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        text-align: center;

    }

    .search-button:hover {
        height: 3rem;
        margin-left: 1rem;
        background: white;
        border-radius: 10px;
        border: 3px solid #13D3FD!important;
        color: #13D3FD;
        border: 0;
        font-family: 'Inter';
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        text-align: center;

    }

    .search-box select {
        height: 4rem!important;
        border-radius: 10px!important;
        background: white!important;
        border: 3px solid #13D3FD!important;
        
        font-family: 'Inter'!important;
        font-size: 2rem!important;
        font-style: normal!important;
        font-weight: 500!important;
        text-align: left!important;
        color: #BDBDBD!important;
        padding: .5rem;
        margin: 0 1rem;

    }

    .search-box input {
        height: 4rem!important;
        border-radius: 10px!important;
        background: white!important;
        border: 3px solid #13D3FD!important;
        
        font-family: 'Inter'!important;
        font-size: 2rem!important;
        font-style: normal!important;
        font-weight: 500!important;
        text-align: left!important;
        color: #BDBDBD!important;
        padding: .5rem;
        margin: 0 1rem;

    }

    .market-table {
        max-height: 42vh;
        overflow: auto;
    }

    .quantity-row {
        width: 10vw!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .title-row {
        width: 20vw!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .actions-row {
        width: 30vw!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .purchase-offer-modal {
        color:  black;
        font-size: 1.25rem!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .purchase-offer-modal img {
        max-height: 40vh;
        min-height: 40vh;

        max-width: 40vh;
        min-width: 40vh;
    }

    .purchase-offer-modal textarea {
        max-height: 100px;
    }
    .offer-tooltip {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80vh;
        height: 60vh;
        min-width: 200px;
        max-width: 500px;
        min-height: 100px;
        max-height: 500px;
    }

    .offer-tooltip img {
       
        max-width: 30vh;
        min-width: 30vh;
        min-height: 30vh;
        max-height: 30vh;
        
    }

    .offer-tooltip p {
        word-break: break-word;
    }


    .offer .offer-image {
        width: 400px;
    }

/* Market CSS End */

/* Merchant CSS Start */

    .merchant-tab {
        border-radius: 10px 0 0 10px;
        padding: 1rem;
        text-align: center;
    }

    .pending-order {
        background-color: var(--safex-cash-green)!important;
        color: black;
    }

    .accounts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .account-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        overflow-y: auto;
        border-radius: 10px;
        

        color:  #fff;
        width: 100%;
        max-height: 35vh;
        
        
    }

    .accounts-box {
        display: flex;
        flex-direction: row;
        flex: 1;

        padding: 1rem;
        margin: 1rem;

        border: 2px solid rgb(32, 240, 59);
        border-radius: 10px;
        background-color: #38bdd2;
        min-height: min-content;
    }

    #account-edit-buttons {
        width: 75%;

    }

    #account-edit-buttons button {
        margin-top: 1rem;
    }

    

    .merchant-product-view {
    
        background-color: #38bdd2;
        
        color: #fff;
        width: 100%;
        min-height: 20vh;
       
        max-height: 60vh;
        overflow-y: scroll;
    }
    
    

    .new-account-form {
        color:  black;
        font-size: 1.25rem!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 80vh;
        height: 60vh;
        min-width: 200px;
        max-width: 80vw;
        min-height: 100px;
        max-height: 80vh;
    }
    

    .new-account-form textarea {
        max-height: 100px;
    }

    #new-account-form text {
        margin-top: .5rem;
        margin-bottom: .5rem;
        
    }

    #new-account-form button {
        font-size: 1.25rem!important;
    }

   
/* Merchant CSS End */

/* Tokens CSS Start */

    .token-main-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
        box-shadow: var(--blue-box-shadow);
    }

    .staking-table {
        width: 100%;
        min-height: 10vh;
        margin: 0 auto;
    }

    .staking-box {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 1rem;
    }

    .staking-box table {
        margin-bottom: 0!important;
    }

    .token-box {
    
        min-width: 15vw;
        max-width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        border: 2px solid #fff;
        border-radius: 10px;
        background-color: rgba(47, 227, 242, 0.9);
        min-height: 40vh;
        margin: auto 0;
        
    }

    .token-box input {
        margin: 1rem 0;

    }

/* Tokens CSS End */












