.account-info-box {
    height: 10vh;
    max-height: 400px;
    background-color: #fff;
    border-radius: 10px;
}

.account-info-box h1 {
    font-family: 'Inter';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.show-keys-password-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.show-keys-password {
    height: 4rem;
    margin: 3rem 0 0;

    border-radius: 10px;
    border: 3px solid #13D3FD;
    background-color: white;

    font-family: 'Inter';
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #BDBDBD;
}

.password-header {
    font-size: 2.2rem!important;
    width: fit-content;
}

.modal-title {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.keys-modal {
    width: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 14px -7px #7b7b7b;
}

.keys-modal form {
    width: 100%;
    padding: 15px;
    flex-direction: row;
    max-height: 749px;
    overflow: overlay;
    align-items: unset !important;
}

.keys-modal form .product-image {
    width: 128px;
}

.keys-modal button {
    width: 92%;
    border-radius: 10px;
    border: 3px solid #13D3FD;
    background: linear-gradient(90deg, #13D3FD 0%, #3698F3 100%);
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.buyer-messages-modal {
    width: 500px;
    height: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 14px -7px #7b7b7b;
}

.buyer-messages-modal form {
    width: 100%;
    margin-top: 20px;
}

.buyer-messages-modal form textarea {
    width: 100%;
}

.buyer-messages-modal form button {
    width: 100%;
}

.buyer-messages-modal::-webkit-scrollbar {
    display: none;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px;
    display: inline-block;
}

.message--mine {
    background: #0085D1;
    color: white;
}

.message--yours {
    background-color: #eee;
}