.account-info-box {
    margin-top: 20px;
    height: 10vh;
    max-height: 400px;
    padding: 5px;
    /* margin-bottom: 2vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    background-color: #fff;
    border-radius: 10px;

    color: #767676;
    box-shadow: var(--blue-box-shadow);
}

.account-info-box--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-info-box h1 {
    font-family: 'Inter';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.account-info-box .row {
    justify-content: space-around;
}

.show-keys-password-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.show-keys-password {
    height: 4rem;
    margin: 3rem 0 0;

    border-radius: 10px;
    border: 3px solid #13D3FD;
    background-color: white;

    font-family: 'Inter';
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #BDBDBD;
}

.password-header {
    font-size: 2.2rem!important;
    width: fit-content;
}

.keys-modal {
    margin: auto;
    padding: 3rem;
    position: relative;
    top: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    box-shadow: var(--blue-box-shadow);
    border-radius: 10px;
    text-align: center;
    color: #767667;
    font-family: 'Inter';
}

.keys-modal::-webkit-scrollbar {
    display: none;
}

.keys-modal h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.keys-modal h2 {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
}

.keys-modal .col-sm-10 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;
    padding-bottom: 2rem;
}

.keys-modal button {
    height: 3rem;
    width: 6rem;

    border-radius: 10px;
    border: 3px solid #13D3FD;
    background-color: white;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.buyer-messages-modal {
    height: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: var(--blue-box-shadow);
    border-radius: 50px;
    text-align: center;
    color: #767667;
    font-family: 'Inter';
}

.buyer-messages-modal::-webkit-scrollbar {
    display: none;
}