.merchant-accounts-box {
    height: 50vh;
    max-height: 600px;
    width: 100%;
    margin: 0 auto;
    padding:1rem;

    justify-content: space-around;
    align-content: center;

    background-color: white;
    box-shadow: var(--blue-box-shadow);
    border-radius: 50px!important;
}

.merchant-accounts-box h1 {
    width: 100%;

    font-family: 'Inter';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #767676;
}

.new-account-box {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.new-account-box > h3 {
    font-family: 'Inter';
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #767676;

}

.new-account-box > button {
    width: 100%;
    background: linear-gradient(270deg, #FEB056 0%, #FED153 100%);
    border-radius: 10px;
    border: 2px solid #FEB056;

    color: white;
    font-family: 'Inter';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;

}

.new-account-box > img {
    border-radius: 50%!important;
    border: 3px solid #13D3FD;
}

.new-account-modal {
    height: fit-content;
    width: 30vw;
    background-color: white;
    padding: 2rem;
    border-radius: 50px;
    margin: auto;
}

.new-account-modal input, select {
    height: 3rem;
}

.new-account-modal .form-control {
    border: 2px solid #13D3FD!important;
    border-radius: 5px!important;
}

.new-account-modal h1 {
    font-family: 'Inter';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;

}

.new-account-modal button {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;

    color:#fff;
    padding: .5rem;
    border: 3px solid #3698F3;
    border-radius: 10px;
    background: linear-gradient(270deg, #3698F3 0%, #13D0FD 100%);
}

.new-account-modal button:hover {
    background: linear-gradient(270deg, #13D0FD 0%, #3698F3 100%);
    border: .5rem solid #13D0FD;
}

.close-button {
    width: 50%!important;
    background: white!important;

    font-family: 'Inter', sans-serif;
    font-size: 1.5rem!important;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    color: #767676!important;
}

.close-button:hover {
    background-color: red;
    color: white;
}

/* Modal Animation */



.merchant-mini-buttons {
    height: 3rem;
    width: 10rem;
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;

    color: #767676;
    border: 3px solid #13D0FD;
    border-radius: 10px;
    background: white;
}


.account-element {
    width: 100%;
    height: 15vh;
    max-width: 500px;
    min-width: 200px;
    max-height: 150px;
    min-height: 75px;
    align-items: center;

    margin: .5rem;
    padding: .5rem;

    border: 2px solid #3698F3;
    border-radius: 10px;

    background: linear-gradient(270deg, #3698F3 0%, #13D3FD 100%, #13D3FD 100%);

}

.selected-account {
    background: linear-gradient(270deg, #13D3FD 0%, #3698F3 100%, #13D3FD 100%)!important;
    border: 3px solid orange!important;
}

.merchant-profile-view {
    padding: .5rem;
    background-color: #fff;
    border: 2px solid #3698F3;
    color: #767676;
    width: 100%;
    min-height: 140px;
    margin: 0 -10px;
    max-height: 800px;
}

.edit-button {
    height: 2.5rem;
    background: linear-gradient(270deg, #54E9B7 0%, #93EB93 100%);
    border-radius: 10px;
    color: #fff;
    border: 0;
}

.orders-button {
    height: 2.5rem;
    margin-left: .25rem;
    background: linear-gradient(90deg, #13D3FD 0%, #3698F3 100%);
    border-radius: 10px;
    color: #fff;
    border: 0;
}